@import '../../colors.scss';

.navbar{
  background-color: $colorDarkest;
  padding: 1em;
  
  .navbar-brand{    
    font-family: 'RocknRoll One';
    font-weight: bold;
    font-size:1.8em;
    color: $colorFontEssential !important;        
  }
}

.navbar-nav{
  margin-bottom: -0.6em !important;
  margin-left: 2em;
  .nav-link{  
    font-weight: bold;
    color: $colorFontNav !important;
  }
  
  .nav-link:hover{
    color: $colorFontHover !important;
  }
}
