@import "../../colors.scss";
@import "../../sizes.scss";

.jumbotron {
  height: calc(100vh - 120px);
  margin-bottom: 0px !important;
}
.container {
  border: $borderStandard solid $colorBorderStandard;
  border-radius: $borderRadiusStandard;
  background-color: $colorLightest;
  padding-top: 2em;
  max-width: 60% !important;
}

#cover {
  display: flex;
  margin-bottom: 2em;

  #poster {
    margin-left: 2em;
    img {
      border-radius: $borderRadiusStandard;
      border: $borderStandard solid $colorBorderStandard;
    }
  }

  #title {
    padding-top: 21.2em;
    margin-left: 3em;
    h1 {
      font-weight: bold;
    }

    h4 {
      font-weight: bold;
    }
  }
}

#description {
  padding: 0em 2.2em 1em 2.2em;

}
